* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Порядок+
Цвета+
Кнопка услуги+
Телефоны к заголовку+
Слоган+
О нас из файла наши услуги+
Добавить образование к АВ-
*/

/* #36552b - Mughal Green
#7a9880 - Amulet
#ddc2a5 - Cashmere
#ad9992 - Del Rio
#eeedeb - белый */

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    --font-h1-size: 40px;
    --font-h2-size: 20px;
    --font-h3-size: 18px;
    --font-card-size: 16px;
    --font-desc-size: 12px;
    --padding-out: 40px;
    --padding-in: 20px;
    --padding-between: 10px;
    --c1: #36552b;
    --c2: #7a9880;
    --c3: #ddc2a5;
    --c4: #ad9992;
    --c5: #eeedeb;
}

.old{
    --old-c1: #f0f8f0;
    --old-c2: #2f8f2f;
    --old-c3: #333;
    --old-c4: #e0f7e0;
    --old-c5: #b0e0b0;
}

h2 {
    text-align: left;
    margin-bottom: var(--padding-in);
    font-size: var(--font-h2-size);
}

h3 {
    font-size: var(--font-h3-size);
}

/*Header*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--padding-out);
    background-color: var(--c3);
}

.header-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    height: calc(var(--font-card-size) + var(--padding-in));
}

.logo img {
    height: 100%;
}

.nav {
    display: flex;
    gap: var(--padding-in);
    font-size: var(--font-card-size);
}

.nav div{
    padding: var(--padding-in);
}

.nav div:hover a{
    color: #333;
}

.nav a{
    text-decoration: none;
    color: var(--c1);
}

.nav.active {
    position: absolute;
    right: 64px;
    z-index: 2;
    padding: var(--padding-between);
    display: flex;
    background-color: var(--c3);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu-icon {
    padding: 10px 20px;
    cursor: pointer;
    display: none; /* Скрыть на больших экранах */
}


/*Header*/
/*Hero image*/

.hero {
    position: relative;
    text-align: center;
    overflow: hidden; /* Скрыть выходящие части */
    height: 50vh; /* Высота блока по высоте экрана */
}

.hero-bg {
    position: absolute;
    display: grid;
    overflow: hidden;
    height: 100%;
    justify-items: center;
}

.hero-bg svg{
    height: 100%;
}

.hero-title {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--padding-out);
    color: var(--c1);
}

.hero-title h1 {
    font-size: var(--font-h1-size);
}

.hero-title div {
    align-self: end;
    text-align: right;
    font-size: var(--font-h2-size);
}

.hero-contacts {
    display: flex;
    flex-direction: column;
}

/*Hero image*/
/*Text blocks*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-out);
}

section > * {
    width: 100%;
    max-width: 1200px;
}

.specialist-about {
    display: flex;
    flex-direction: column;
    gap: var(--padding-between);
    padding: var(--padding-in);
    border-radius: var(--padding-in);
    background-color: var(--c3);
    font-size: var(--font-card-size);
}

.specialist-about ul {
    padding-left: var(--padding-in);
}

.specialist-about li {
    padding: var(--padding-between);
}

/*Text blocks*/
/*Appointment*/

.appointment-content{
    text-align: center;
    padding: var(--padding-in) 0;
}

.appointment-buttons {
    display: flex;
    gap: var(--padding-out);
    justify-content: center;
    flex-wrap: wrap;
}

/*Appointment*/
/*Carousel*/

.carousel {
    display: flex;
    overflow-x: auto;
    gap: var(--padding-in);
    scroll-behavior: smooth;
    padding: var(--padding-between);
}

.carousel::-webkit-scrollbar{
    height: 6px;
}
.carousel::-webkit-scrollbar-button{
    display: none;
}
.carousel::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: var(--c2);
}

.card {
    box-sizing: border-box;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    margin: var(--padding-between);
    background-color: var(--c3);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}

.card-content  {
    display: flex;
    flex-direction: column;
    gap: var(--padding-between);
    box-sizing: border-box;
    height: 100%;
    padding: var(--padding-in);
    font-size: var(--font-card-size);
}

.card-content h3 {
    text-align: center;
}

.card div div, .card a{
    color: unset;
    text-decoration: none;
    font-size: var(--font-desc-size);
}

.card button{
    width: 100%;
    margin-top: auto;
}

/*Carousel*/

button {
    padding: var(--padding-between) var(--padding-in);
    background-color: var(--c1);
    color: white;
    border: none;
    border-radius: var(--padding-in);
    cursor: pointer;
}

button:hover {
    background-color: var(--c2);
}

/*Footer*/

footer {
    padding: var(--padding-in) var(--padding-out);
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-out);
    background-color: #333;
    justify-content: center;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: var(--padding-between);
    text-align: center;
    color: #f0f8f0;
}

.footer__column div{
    padding: 5px 10px;
}

.footer__column-title{
    border-bottom: 1px solid #f0f8f0;
    font-size: var(--font-card-size);
    font-weight: bold;
}

.footer__column-item:hover{
    color: var(--c1);
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.socials a, .socials img {
    height: 100%;
}

/*Footer*/

@media (max-width: 740px) {
    .nav {
        display: none; /* Скрыть меню на маленьких экранах */
    }

    .menu-icon {
        display: block; /* Показываем иконку меню */
    }

    body {
        --font-h1-size: 18px;
        --font-h2-size: 16px;
        --font-h3-size: 14px;
        --font-card-size: 12px;
        --font-desc-size: 10px;
        --padding-out: 20px;
        --padding-in: 10px;
        --padding-between: 5px;
    }

    .card {
        min-width: 150px;
    }
}

@media (max-width: 1200px) {
    .nav {
        gap: var(--padding-between);
    }

    .nav div {
        padding: var(--padding-in) var(--padding-between);
    }
}